{% extends 'base.html.twig' %}

{% block title %}2FA Verification{% endblock %}
{% block body %}
    <div class="auth-page">
        <div class="auth-card card">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Two-Factor Authentication</h3>
                <p class="text-center text-muted">
                    Open authentication application and type 6-digits code below.
                </p>

                <form action="{{ path('2fa_login_check') }}" method="post">

                    <div class="form-group my-4">
                        <input type="text"
                               id="_auth_code"
                               name="_auth_code"
                               class="form-control auth-code-input"
                               required
                               autocomplete="one-time-code"
                               inputmode="numeric"
                               pattern="[0-9]*"
                               maxlength="6">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-primary w-100" type="submit">Verify</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
