<header class="app-header">
    <div class="header-left">
        <button class="mobile-nav-toggle" aria-label="Toggle menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        <h1 class="page-title">{{ board_title }}</h1>
    </div>
    <div class="header-right">
        <span class="user-info">Hello, {{ app.user.firstname }} {{ app.user.lastname }}</span>
    </div>
</header>
