{% extends 'emails/_layout.html.twig' %}

{% block content %}
    <p>Hello,</p>
    <p>
        User <strong>{{ eventAuthorName }}</strong> created new ticket:
        <br><em>"{{ ticketTitle }}"</em>.
    </p>
    <p style="text-align: center; margin-top: 30px;">
        <a href="{{ url('app_ticket_view', {id: ticketId}) }}" class="button" style="background-color: #007bff;">
            Go to ticket
        </a>
    </p>
{% endblock %}
