{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <main class="app-main-content">
        <div class="container">

        </div>
    </main>
{% endblock %}
